@charset "UTF-8";
body{
	background:#808080;
	color:#000000;
	text-align:center;
	}
	div#pagebody{
	background: #FFFFFF;
	width: 500px;
	height: 530px;
	border: 1px solid #cccccc;
	margin: 50px auto;
	}
	div#header{
	background-color: #C299FF;
	color: #ffffff;
	height:30px;
	font-size:large;
	
	}
	div#main {
	padding: 80px;
	}
	
	div#main table{
	margin-left:auto;
	margin-right:auto;
	}
	
	div#main_index table{
	margin-left:auto;
	margin-right:auto;
	}
	div#main tr#sleepTime{
	font-size:x-large;
	}
	.btn_left {
	background-color: #c299FF;
	margin: 2.5px 10px;
	float: left;
	color: #ffffff;
	width:70px;
	height:25px;
	font-size:medium;
	border: 1px solid #ffffff;
	border-radius: 20px
	}
	.btn_right {
	background-color: #c299FF;
	margin: 2.5px 10px;
	float: right;
	color: #ffffff;
	width:70px;
	height:25px;
	font-size:medium;
	border: 1px solid #ffffff;
	border-radius: 20px
	}
	.btn_sleep {
	background-color: #FFFFFF;
	margin: 2.5px 10px;
	color: #000000;
	width:120px;
	height:50px;
	font-size:medium;
	border: 2px solid #808080;
	border-radius: 20px
	}
	.btn_center{
	background-color: #FFFFFF;
	margin: 2.5px 10px;
	color: #000000;
	width:80px;
	height:30px;
	font-size:medium;
	border: 2px solid #808080;
	border-radius: 20px;
	margin:20px;
	}
	.btn_right_blank {
	background-color: #c299FF;
	margin: 2.5px 10px;
	float: right;
	width:70px;
	height:25px;
	border: 1px solid #c299FF;
	}